/* public/leaflet-fix.css */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-pane {
  z-index: 400;
}

.leaflet-tile {
  filter: inherit;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* أضف أي تنسيقات أخرى تحتاجها */